@model SkillsViewModel 

<style>
    .skill-row {
        width: 70%;
        margin: 50px auto 50px;
        text-align: left;
        line-height: 1.5;
    }

    .skill {
        width: 20%;
        float: left;
        margin-right: 30px;
    }

    .mobile {
        width: 30%;
        float: right;
        margin-left: 20px;
    }
</style>

<hr class="purple-dot" />
<div class="text-center">
    <div class="skills" id="skillsContent">
        <h2>My Skills</h2>
        <div class="skill-row">
            <img class="skill" src="/images/computer.png" alt="picture">
            <h3>Web Development</h3>
            <ul>
                <li>Java - <strong>(Beginner)</strong></li>
                <li>HTML5, CSS, Javascript, Json, Asp.Net(.Net Framework), MySQL, Store-Procedure - <strong>(Intermediate)</strong></li>
                <li>Jquery, MVC5, LINQ, .Net Core, C#, Stimulsoft Reporting Tools - <strong>(Advanced)</strong></li>
            </ul>
        </div>
        <div class="skill-row">
            <img class="mobile" src="/images/Mobile.png" alt="picture">
            <h3>Mobile Development</h3>
            <p>Self-learning <strong>Java</strong> via book, <strong>Android-studio</strong> through online course.</p>
            <p>Able to create simple apps with simple functions.</p>
        </div>
    </div>
</div>

<hr class="purple-dot" />